{% load staticfiles %}
<!doctype html>
<html ng-app="{% block ng_app %}babyguess{% endblock %}">
  <head>
    <title>À qui le resto ?</title>
    <script src="{% static "angular1.3.0.b13.js" %}"></script>
    <script src="{% static "angular-resource.js" %}"></script>
    <script src="{% static "angular-route.js" %}"></script>
    <script src="{% static "angular-cookies.js" %}"></script>
    <script src="{% static "ui-bootstrap-tpls-0.11.0.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap3.1.1.css" %}">

    <link rel="stylesheet" href="{% static "babyguess.css" %}">
    <script src="{% static "babyguess.js" %}"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon-bar"></span>
            <span class="glyphicon-bar"></span>
            <span class="glyphicon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Guess Who is Coming !?</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Devinez!</a></li>
            <li><a href="http://whatsup.vlaams-dk.fr/" target="blank">What's up chez nous ?</a></li>
          </ul>
        </div><!--/.nav-collapse-->
      </div>
    </div>

    <h2>Guess who comes ?</h2>
    <div id="blabla" class="content">
    <p>
    Parce que vous êtes nombreux à être sur du sexe et de
    l'avance/retard/exactitude de la date, parce que nous nous
    délectons de vos dons de voyance, parce que nous nous disons qu'un resto
    sera l'occasion de nous évader des pleurs et des couches...
    </p>
    <p>
    Nous vous proposons le jeu préféré des futurs parents : pariez sur la date
    de naissance, le sexe et, un peu d'imagination, les prénoms envisagés pour
    l'une ou l'un !
    Au vainqueur, nous paierons un dîner au restaurant ! Au perdant, nous
    offrirons une soirée avec le bambin pendant que nous serons au restaurant !
    </p>
    <p>
    Le vainqueur sera celui qui aura la bonne date de naissance et le bon sexe.
    Ensuite, en cas d'égalité, le partage sera fait en fonction du poids et de
    la taille : le plus proche sur la combinaison des deux sera le gagnant.
    Un bonus à celui qui trouvera le bon prénom (qu'importe s'il/elle est
    vainqueur(e) !
    </p>
    </div>
    <div ng-view></div>
    <div class="content" ng-controller=" {% block ng-controller %} ListCtrl {% endblock %}">
      {% verbatim %}
      <p ng-show="pronos.length > 0"> D'après vous tous, ce serait donc <strong>
      {{tendance.gender}} </strong> qui pèserait
      <strong>{{tendance.weight}}g</strong> à la naissance pour
      <strong>{{tendance.height}}cm</strong>.
      {% endverbatim %}
      <table class="listing">
        <thead>
          <tr class="head">
            <th>Joueur ?</th>
            <th>Fille ou gars ?</th>
            <th>A quelle heure ?</th>
            <th>Poids</th>
            <th>Taille</th>
            <th>Elle ... qui ?</th>
            <th>Il ... qui ??</th>
          </tr>
        </thead>
        {% verbatim %}
        <tbody>
          <tr ng-repeat="prono in pronos | orderBy:'player'"
          class="prono"
          ng-class="{M:'boy', F:'girl'}[prono.fields.gender]">
          <td>{{prono.fields.player}}</td>
          <td ng-switch="prono.fields.gender">
            <span ng-switch-when="M">Un gars</span>
            <span ng-switch-when="F">Une nana</span>
            <span ng-switch-default>Pas de sexe !?!</span>
          </td>
          <td>{{prono.fields.estimatedDate | date : "dd/MM/yyyy"}}</td>
          <td>{{prono.fields.weight}}</td>
          <td>{{prono.fields.height}}</td>
          <td>{{prono.fields.girlName}}</td>
          <td>{{prono.fields.boyName}}</td>
          </tr>
        </tbody>
        {% endverbatim %}
      </table>
      <button class="btn btn-default" ng-click="newChallenger()">Pronostiquer!</button>
    </div>
  </body>
</html>

